@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "SF Pro Text", sans-serif;
  box-sizing: border-box;
}

*::selection {
  background: #3a6cd950;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  padding: 5px;
  min-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background: #ebebeb;
  transition: background 0.35s;         
}

textarea {
  resize: none;
}

.App.dark {
  background: #191919;
}

/* Changing the readme dark-mode styles too */
/* ---START--- */

.App.dark pre, .App.dark table {
  background: #1E1E1E;
}

/* ---END--- */

.workspace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
}

.editor-window-mac {
  position: relative;
  overflow: hidden;
  width: calc(calc(100vw / 2) - 50px);
  height: calc(100vh / 1.2);
  background: #f6f6f6;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15)),
    drop-shadow(0px 25px 30px rgba(0, 0, 0, 0.35));
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15) 0px 25px 30px rgba(0, 0, 0, 0.35);
  border-radius: 11px;
  transition: height 0.3s, width 0.3s, visibility 0.1s;
}

.editor-window-mac.dark {
  background: #282828;
  border: 0.5px solid rgba(255, 255, 255, 0.12);
}

.not-visible {
  visibility: hidden;
  display: none;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.editor-window-mac .top-bar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  /* padding-right: calc(calc(50% / 2) - 30px); */
  width: 100%;
  height: 43px;
  background: #fff;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15),
    inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
}

.editor-window-mac .top-bar.dark {
  background: #1E1E1E;
}

.editor-window-mac .top-bar.preview {
  justify-content: space-between;
}

.editor-window-mac .top-bar #add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.editor-window-mac .top-bar.dark #add-icon path {
  fill: #999C9F;
}

.editor-window-mac .top-bar #add-icon:hover path {
  fill: #3a6cd9;
}

.editor-window-mac .top-bar input {
  overflow: hidden;
  min-width: 70%;
  text-align: center;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  font-size: 13px;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: box-shadow 0.35s;
}

.editor-window-mac .top-bar.dark input {
  background: #0C0F12;
  color: #fafafa;
}

/* box-shadow of input element #3a6cd9 */

.editor-window-mac .top-bar input:focus {
  box-shadow: 0 0 0 2.5px rgba(51, 113, 247, 0.5);
}

.editor-window-mac .top-bar.dark input:focus {
  box-shadow: rgba(51, 113, 247, 0.5);
}

.editor-window-mac .top-bar p {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  font-size: 13px;
  border-radius: 6px;
  outline: none;
}

.editor-window-mac .top-bar.dark p {
  background: #0C0F12;
  color: #fafafa;
}

.icons {
  height: 100%;
  width: 70px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
}

.icon.close {
  background: #ff5e57;
}

.icon.minimize {
  background: #ffbb2e;
}

.icon.maximize {
  cursor: pointer;
  background: #38c149;
}

.editor {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.editor,
.preview {
  height: 100%;
  max-height: 90%;
  width: 100%;
  overflow: auto;
  outline: none;
  background: none;
  border: none;
  padding: 5px 10px;
}

.App.dark .editor,
.App.dark .preview {
  color: #ebebeb;
}

.editor-window-mac #preview {
  max-height: 100%;
  padding: 10px 20px 40px 20px;
}

.switch-container {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.switch-container p {
  color: #353637;
}

.switch-container p strong {
  color: #171718;
}

.App.App.dark .switch-container p {
  color: #c5c5c5;
  transition: color 0.3s;
}

.App.App.dark .switch-container p strong {
  color: #fafafa;
  transition: color 0.3s;
}

.theme-toggle {
  display: flex;
  align-items: center;
  padding: 0 3px;
  overflow: hidden;
  height: calc(22px * 1.15);
  width: calc(40px * 1.15);
  border-radius: 100px;
  background: #999C9F;
  border: 0.5px solid #000000 12%;
  box-shadow: 0px 4px 4px 0px #000000 5% inset;
  transition: background 0.35s;
}

.theme-toggle.enabled {
  background: #007AFF;
}

.theme-toggle .switch {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  background: #FFFFFF;
  border: 0.5px solid #000000 20%;
  box-shadow: 0px 0.5px 4px 0px #000000 20%;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.35s;
}

.theme-toggle .switch.enabled {
  transform: translateX(100%);
}

@media screen and (max-width: 550px) {
  .workspace {
    flex-direction: column;
    min-height: 100vh;
  }

  .editor-window-mac {
    width: 90%;
    height: calc(calc(100vh / 2) - 20px);
  }

  .editor {
    max-height: 80%;
  }

  .editor-window-mac .top-bar {
    padding-right: calc(calc(50% / 2) - 58px);
  }

  .editor-window-mac .top-bar p {
    font-size: 11px;
  }
  
  .not-visible {
    visibility: hidden;
    display: none;
  }

  .fullscreen {
    height: 100vh;
    width: 100vw;
  }
  .editor-window-mac .top-bar.preview {
    justify-content: space-around;
    padding-right: calc(calc(50% / 2) - 40px);
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .editor {
    max-height: 70%;
  }
}

@media screen and (width: 620px) {
  .editor-window-mac .top-bar {
    padding-right: calc(calc(50% / 2) - 40px);
  }
}
